#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 20px 0;
  font-size: 40px;
  font-weight: 500;
  color: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* margin-right: 10px; */
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  /* max-width: 920px; */
}



/* Begin Right Contact Page */
.direct-contact-container {
  width: 90%;
  margin-top: 60px;
  margin-left: 40px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;

}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 12px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}


/* Let's style the wrapper in such away that, 
it should always be at the center of the browser */
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

.wrapper ul li>a {
  font-size: 35px;
  color: #D8E2DC;
  display: flex;
  justify-content: center;
  margin-top: 7px;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #D8E2DC;
  /* margin-top: 3px; */
  transition: all 0.5s ease;
}

/* Now target the specific li classNamees for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}


/* media queries */

@media screen and (max-width: 640px) {
  .wrapper {
    width: 350px;
  }

  .wrapper ul li {
    margin-top: 10px;
  }

  .wrapper ul li.google {
    margin-left: 60px;
  }
}


@media screen and (max-width: 340px) {
  .wrapper {
    width: 150px;
  }

  .wrapper ul li {
    margin: 15px;
  }

  .wrapper ul li.google {
    margin-left: 15px;
  }
}

.place {
  margin-left: 10px;
}

.phone {
  margin-left: 10px;
}

.gmail {
  margin-left: 10px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, .6);
}

/* Begin Media Queries*/






.form-container {
  width: 100%;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 16px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 18px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #008cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #008cff;
}

.form-container .form-submit-btn {
  width: 30%;
  margin-top: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

.form-container .form-submit-btn:hover {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff,
    0 0 20px #008cff,
    0 0 50px #008cff,
    0 0 100px #008cff;
}



/* for mobile ressponsive.... */


@media screen and (max-width: 410px) {

  .form-container .form-submit-btn {
      width: 60%;
      /* margin-top: 10px;
      padding: 10px 20px;
      text-transform: uppercase;
      border-radius: 8px;
      font-size: 17px;
      font-weight: 500;
      color: #ffffff80;
      text-shadow: none;
      background: transparent;
      box-shadow: transparent;
      border: 1px solid #ffffff80;
      transition: 0.5s ease;
      user-select: none; */
    }
  .send-button {
    width: 99%;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }

  .form-control,
  textarea {

    margin: 0 auto;
  }


  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }

  .social-media-list {
    left: 0;
  }

  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }

  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }

}



@media screen and (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .direct-contact-container {
    margin: 40px 0;
    width: 90%;
  }

  .form-container {
    width: 100%;
    padding: 20px;
  }

  .section-header {
    font-size: 32px;
  }

  .form-submit-btn {
    width: 50%;
  }
}


@media screen and (max-width: 850px) {
  .wrapper ul li {
    width: 40px;
    height: 40px;
    /* line-height: 40px; */
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #D8E2DC;
    float: left;
    transition: all 0.5s ease;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }

  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }

  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}